body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 40px 20px; 
    line-height: 1.6; 
}

#homepage-h1 {
    text-align: center !important;
    margin-bottom: 20px; 
}

p {
    max-width: 800px;
    margin: 0 auto 40px; 
}

hr {
    margin: 40px 0;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.choice-button {
    padding: 22px 55px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

#beginner:hover, #intermediate:hover, #advanced:hover {
    opacity: 0.7;
}

#beginner {
    background-color: blue;
    color: white;
    display: inline-block;
}


#intermediate {
    background-color: green;
    color: white;
    display: inline-block;
}

#advanced {
    background-color: red;
    color: white;
    display: inline-block;
}